<div class="wrapper">
  <!-- Home Section ---------------------------------------------------------->
  <section class="home"></section>
  <!-- About Section --------------------------------------------------------->
  <section class="about"></section>
  <!-- Projects Section ------------------------------------------------------>
  <section class="projects"></section>
  <!-- Contact Section ------------------------------------------------------->
  <section class="contact"></section>
  <!-- Footer Section -------------------------------------------------------->
  <section class="footer"></section>
</div>